@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.testimonials__text, .testimonials__name {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%; }

.header {
  padding-top: 50px;
  background-color: #008aff;
  width: 100%;
  height: 700px;
  border-radius: 0 0 0 90px;
  overflow: hidden; }
  .header__content {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    bottom: -169px; }
  .header__button {
    width: 80px;
    height: 80px;
    position: relative;
    top: 290px;
    left: -50px;
    margin: 70px;
    color: white;
    font-size: 50px;
    background-color: black;
    opacity: 0.2;
    border: none;
    outline: none;
    border-radius: 30%; }
  .header__slider {
    position: relative;
    padding-bottom: 50px;
    background-size: cover;
    height: 500px;
    width: 500px;
    border-radius: 30% 0 0; }
  .header__img {
    border-radius: 30% 0 0;
    position: absolute;
    top: -100px;
    left: -50px;
    height: 680px;
    opacity: 0;
    -webkit-transition: opacity 1000ms;
    transition: opacity 1000ms; }
  .header__img--active {
    opacity: 1;
    -webkit-transition: all 2s linear;
    transition: all 2s linear; }
  .header__text {
    position: relative;
    left: 15%; }
  .header__intro {
    font-size: 13px;
    letter-spacing: 3px;
    color: #fff;
    display: block;
    z-index: 5;
    right: 30px;
    top: 350px;
    position: absolute; }
  .header__label {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold; }
  .header__name {
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -2px;
    margin-bottom: 30px; }
  .header__btn {
    display: block;
    text-align: center;
    background: #ff9c8e;
    border-radius: 64px;
    color: #fff;
    border: none;
    width: 186px;
    padding: 15px;
    margin-top: 50px;
    font-family: Poppins, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer; }
    .header__btn:hover {
      -webkit-box-shadow: 10px 10px 47px -10px rgba(97, 56, 56, 0.75);
              box-shadow: 10px 10px 47px -10px rgba(97, 56, 56, 0.75); }

@media screen and (max-width: 950px) {
  .header {
    overflow: hidden; }
    .header__slider {
      display: none; }
    .header__text {
      left: 0;
      text-align: center; }
    .header__intro {
      display: none; }
    .header__content {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: -500px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media screen and (min-width: 1900px) {
  .header__content {
    left: 15%; }
  .header__slider {
    left: -15%; } }

body,
html,
ul,
a {
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: Poppins, Arial, sans-serif; }

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

.expertise {
  padding: 10% 0;
  width: 100%;
  height: 600px;
  background: white;
  text-align: center;
  color: #253757;
  font-weight: 600;
  font-size: 52px; }
  .expertise__content {
    margin-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .expertise__name {
    font-size: 20px; }
  .expertise__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #6c788b; }
  .expertise__image {
    border-radius: 30px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .expertise__image:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

@media screen and (max-width: 900px) {
  .expertise {
    height: 100%; }
    .expertise__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media screen and (min-width: 1600px) {
  .expertise__content {
    width: 1400px;
    margin: auto; } }

.info {
  margin: 150px 25%;
  position: relative;
  font-weight: 600; }
  .info__name {
    font-size: 32px;
    color: #253757; }
  .info__text {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 24px;
    color: #6c788b; }

@media screen and (max-width: 950px) {
  .info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10% 10px;
    text-align: center;
    margin: 0; } }

@media screen and (min-width: 1600px) {
  .info {
    margin: 100px auto;
    width: 1400px;
    text-align: center; } }

.process {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .process__text {
    position: relative;
    top: 200px; }
  .process__label {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    color: #c0cdd7;
    text-transform: uppercase; }
  .process__name {
    font-weight: 600;
    font-size: 32px;
    color: #253757; }
  .process__description {
    color: #6c788b; }
  .process__info {
    color: #6c788b; }
  .process__content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 264px);
    grid-gap: 30px;
    z-index: 5; }
  .process__block {
    width: 264px;
    height: 264px;
    background-color: #fff;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    padding: 5%;
    z-index: 5; }
  .process__block--down {
    margin-top: 200px; }
  .process__block--up {
    margin-top: -200px; }
  .process__number {
    border-radius: 5px;
    width: 46px;
    height: 24px;
    background-color: 0.1;
    text-align: center; }
  .process__learn {
    color: #253757;
    font-weight: 600;
    font-size: 15px; }
  .process__button {
    padding: 16px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;
    -webkit-transition: 1s;
    transition: 1s;
    outline: none; }
    .process__button:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      border-radius: 5%; }
  .process__number--first {
    background: rgba(86, 204, 242, 0.1);
    color: #56ccf2; }
  .process__number--second {
    background-color: rgba(252, 201, 29, 0.1);
    color: #fcc91d; }
  .process__number--third {
    background-color: rgba(21, 216, 80, 0.1);
    color: #15d850; }
  .process__number--fourth {
    background-color: rgba(243, 99, 99, 0.1);
    color: #f36363; }
  .process__button--first {
    background: #56ccf2; }
  .process__button--second {
    background-color: #fcc91d; }
  .process__button--third {
    background-color: #15d850; }
  .process__button--fourth {
    background-color: #f36363; }

@media screen and (max-width: 900px) {
  .process {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    left: 0; }
    .process__text {
      position: relative;
      top: 20px; }
    .process__content {
      margin-top: -100px;
      grid-gap: 10px;
      grid-template-columns: repeat(1, 264px);
      z-index: 5; }
    .process__block--up {
      margin-top: 0; } }

.approach {
  width: 100%;
  height: 900px;
  background: #ff9c8e;
  border-radius: 200px 0 0 200px;
  position: relative;
  top: -100px;
  overflow: hidden;
  left: 10%; }
  .approach__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%; }
  .approach__content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10% 15%;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .approach__label {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff; }
  .approach__name {
    font-weight: 600;
    font-size: 32px; }
  .approach__round {
    background-color: #fff;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 70px;
    border-radius: 50%;
    margin-right: 5%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .approach__round:hover {
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
  .approach__description {
    display: inline-block; }
  .approach__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media screen and (max-width: 900px) {
  .approach {
    left: 0;
    border-radius: 0;
    height: 1500px;
    width: 100%; }
    .approach__content {
      height: 650px; }
    .approach__image {
      display: none; }
    .approach__label {
      text-align: center; }
    .approach__name {
      text-align: center; }
    .approach__round {
      margin-bottom: 50px; }
    .approach__description {
      margin-bottom: 100px; }
    .approach__table {
      position: relative;
      top: 10%;
      margin-bottom: 100px; }
    .approach__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center; } }

.testimonials {
  width: 100%;
  padding: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%); }
  .testimonials__people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .testimonials__label {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    color: #c0cdd7;
    text-transform: uppercase; }
  .testimonials__cont {
    font-weight: 600;
    font-size: 32px;
    color: #253757; }
  .testimonials__person {
    height: 500px;
    width: 315px;
    background-color: #fff;
    border-radius: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .testimonials__person:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .testimonials__image {
    position: relative;
    z-index: 5;
    border-radius: 50%;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .testimonials__image:hover {
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
  .testimonials__rectangle {
    width: 139px;
    height: 56px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))) #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%) #56ccf2;
    border-radius: 500px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .testimonials__rectangle:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .testimonials__rectangle--top {
    position: relative;
    top: 50px;
    right: 20%; }
  .testimonials__rectangle--bottom {
    position: relative;
    top: -50px;
    left: 20%; }
  .testimonials__rectangle--middle {
    background: #fcc304; }
  .testimonials__rectangle--end {
    background: #f25656; }
  .testimonials__text {
    color: #6c788b; }
  .testimonials__name {
    color: #253757; }
  .testimonials__job {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    color: #c0cdd7;
    text-transform: uppercase; }

@media screen and (max-width: 1200px) {
  .testimonials {
    padding: 2%; } }

@media screen and (max-width: 1000px) {
  .testimonials__people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .testimonials__table {
    text-align: center;
    margin-bottom: 100px; }
  .testimonials__person {
    width: 300px;
    margin-bottom: 50px; } }

@media screen and (min-width: 1600px) {
  .testimonials__people {
    max-width: 1450px;
    margin: auto; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px; }

.nav__link {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .nav__link:hover {
    opacity: 0.5; }

.nav__item:first-child {
  margin-left: 10%; }

.nav__item:last-child {
  margin: 0 10%; }

#nav__toggle {
  opacity: 0;
  outline: none; }

@media screen and (max-width: 950px) {
  .nav {
    visibility: hidden; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      height: 600px; }
    .nav__item:first-child {
      margin-left: 0; }
    .nav__item:last-child {
      display: none; }
    .nav__menu {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1; }
    .nav__menu > .nav__togg,
    .nav__menu > .nav__togg::before,
    .nav__menu > .nav__togg::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: #fff; }
    .nav__menu > .nav__togg::before {
      content: "";
      top: -8px; }
    .nav__menu > .nav__togg::after {
      content: "";
      top: 8px; }
  #nav__toggle:checked ~ .nav__menu > .nav__togg {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  #nav__toggle:checked ~ .nav__menu > .nav__togg::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  #nav__toggle:checked ~ .nav__menu > .nav__togg::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  #nav__toggle:checked ~ .nav {
    visibility: visible; }
  #nav__toggle:checked ~ .header__content {
    display: none; } }

@media screen and (min-width: 1900px) {
  .nav {
    width: 1400px;
    margin: auto; } }

.footer {
  height: 100%;
  width: 100%;
  background-color: #008aff;
  border-radius: 0 200px 0 0;
  position: relative;
  top: -200px;
  display: grid;
  grid-template-areas: "send contact" "nav nav";
  grid-row-gap: 200px; }
  .footer__nav {
    grid-area: nav; }
  .footer__contact {
    grid-area: contact;
    position: relative;
    top: 20%;
    left: 10%; }
  .footer__button {
    width: 226px;
    height: 56px;
    background: #ff7e6c;
    border-radius: 64px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    margin-top: 80px;
    font-family: Poppins, Arial, sans-serif; }
    .footer__button:hover {
      -webkit-box-shadow: 10px 10px 47px -10px rgba(97, 56, 56, 0.75);
              box-shadow: 10px 10px 47px -10px rgba(97, 56, 56, 0.75); }
  .footer__input {
    background: #008aff;
    border: none;
    border-bottom: 1px solid #fff;
    width: 460px;
    height: 60px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-weight: 600;
    outline: none;
    font-family: Poppins, Arial, sans-serif;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer__input::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.7; }
    .footer__input:focus, .footer__input:hover {
      border-bottom: 1px solid #ff7e6c; }
  .footer__form {
    grid-area: send;
    position: relative;
    top: 10%;
    left: 10%; }
  .footer__name {
    font-family: Poppins, Arial, sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #fff; }
  .footer__label {
    font-family: Poppins, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5; }
  .footer__text {
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer__text:hover {
      opacity: 0.5; }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .footer__link {
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .footer__link:hover {
      opacity: 0.5; }
  .footer__item:first-child {
    margin-left: 5%;
    margin-right: 20%; }
  .footer__item:last-child {
    margin-right: 15%; }
  .footer__img {
    margin-right: 55px;
    margin-top: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .footer__img:hover {
      -webkit-transform: scale(1.5);
              transform: scale(1.5); }

@media screen and (max-width: 950px) {
  .footer {
    position: relative;
    top: -150px;
    height: 100%;
    width: 100%;
    border-radius: 0;
    grid-template-areas: "send send" "contact contact" "nav nav"; }
    .footer__form {
      top: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      left: 0; }
    .footer__text {
      white-space: pre-wrap;
      text-align: center; }
    .footer__img {
      margin: 20px; }
    .footer__input {
      width: 300px;
      height: 40px;
      margin-top: 10px; }
    .footer__item:first-child {
      margin-left: 0%;
      margin-right: 0%; }
    .footer__item:last-child {
      margin-right: 0%; }
    .footer__contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      left: 0;
      top: -100px; }
    .footer__list {
      display: none; } }

@media screen and (min-width: 1900px) {
  .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .footer__contact {
      position: relative;
      left: -150px; } }

.vision {
  height: 900px;
  width: 100%;
  background-color: #fff; }
  .vision__main {
    height: 700px;
    background-color: #fff;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
  .vision__left {
    width: 300px;
    height: 700px; }
  .vision__rectangle {
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .vision__rectangle:hover {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .vision__rectangle__--small {
      width: 46px; }
    .vision__rectangle--small:nth-child(2) {
      left: 15vw; }
    .vision__rectangle--small:nth-child(6) {
      right: 30vw;
      top: 75vh; }
    .vision__rectangle--small:nth-child(5) {
      top: 75vh;
      right: 10vw; }
    .vision__rectangle--medium {
      width: 86px; }
    .vision__rectangle--medium:first-child {
      left: 8vw;
      top: 3vh; }
    .vision__rectangle--medium:nth-child(3) {
      top: 20vh;
      left: 2vw; }
    .vision__rectangle--medium:nth-child(4) {
      top: 35vh;
      right: 20vw; }
    .vision__rectangle--medium:nth-child(5) {
      top: 75vh;
      right: 5vw; }
    .vision__rectangle--big {
      width: 145px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .vision__rectangle--big:first-child {
      top: 5vh; }
    .vision__rectangle--big:nth-child(4) {
      top: 45vh;
      right: 5vw; }
    .vision__rectangle--big:nth-child(6) {
      position: relative;
      top: 75vh;
      right: 30vw; }
  .vision__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .vision__name {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 25px; }
  .vision__text {
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b;
    text-align: center;
    margin-bottom: 79px; }
  .vision__button {
    width: 186px;
    padding: 20px;
    text-align: center;
    background: #ff9c8e;
    border-radius: 64px;
    color: #fff;
    border: none;
    font-family: Poppins, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px; }
    .vision__button:hover {
      -webkit-box-shadow: 10px 10px 47px -10px rgba(97, 56, 56, 0.75);
              box-shadow: 10px 10px 47px -10px rgba(97, 56, 56, 0.75); }
  .vision__right {
    width: 300px;
    height: 700px; }

@media screen and (max-width: 1000px) {
  .vision__main {
    left: 0;
    overflow: hidden;
    white-space: pre-wrap; }
  .vision__center {
    width: 100%; }
  .vision__right {
    display: none; }
  .vision__left {
    display: none; }
  .vision__name {
    text-align: center; } }

@media screen and (min-width: 1700px) {
  .vision__main {
    overflow: hidden;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative; }
  .vision__right {
    position: relative; } }

body {
  background: #e5e5e5;
  margin-bottom: -200px; }

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
